<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
        tempora fugit commodi tenetur fugiat culpa quis eos quae dicta
        cupiditate possimus, qui consequuntur? Rerum quaerat eligendi, eaque
        amet sequi iure numquam, debitis explicabo natus labore voluptatibus,
        officiis eos temporibus exercitationem?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
